[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "extern/nlohmann_json"]
	path = extern/nlohmann_json
	url = https://github.com/nlohmann/json
[submodule "extern/uapki"]
	path = extern/uapki
	url = https://github.com/specinfo-ua/UAPKI
[submodule "extern/ixwebsocket"]
	path = extern/ixwebsocket
	url = https://github.com/machinezone/IXWebSocket.git
